/* TheaterList styles */
.theater-list {
  padding: 30px;
  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  position:relative;
  display:flex;
  width: 90%;
  align-items: center;
  
  
  position: absolute;
 
}

.theater-list h1 {
  text-align: center;
  color: #333;
}

.theater-list ul {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.theater-item {
  background-color: #fff;
  border: 1px solid #dd2020;
  border-radius: 8px;
  padding: 20px;
  height: 270px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.theater-item:hover {
  transform: translateY(-10px);
}

.theater-image {
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.theater-item h2 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.theater-item p {
  font-size: 14px;
  color: #666;
}

.show-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.show-list li {
  background-color: #e9e9e9;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 4px;
}
