.theater-details {
    background-color: #e02e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .theater-details p {
    margin: 10px 0;
  }
  